@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

.botaoPrincipal {
  border: 1px solid white;
	border-radius: 20px;
	padding: 15px;
	color: #E5E5E5;
	font-family: 'Roboto';
	font-size: 20px;
	width: 333px;
	margin-top: 60px;
	text-align: center;

}
