* {
    font-family: MuseoModerno;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrousel{
position: static;
width: 1440px;
height: 826px;
left: 0px;
top: 0px;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 6.56%, rgba(255, 255, 255, 0) 16.46%, rgba(229, 10, 127, 0.31) 81.04%, #00A0E3 100%);
}

button{

}

h5{
font-family: Work Sans;
font-size: 20px;
}

h4 {

position: static;
width: 697px;
height: 32px;
left: 20px;
top: 0px;
font-family: MuseoModerno;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 32px; 
letter-spacing: -0.02em;
color: #00A0E3;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

h6{
font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;
color: #000000;
position: static;
width: 347px;
height: 158px;
left: 20px;
top: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

footer{
width: 100%;
min-height: 250px;
background: white;
display: flex;
}

footer .boxs{
width: 300px;
min-height: 100px;
padding: 20px;
}

footer .boxs:nth-child(4){
width: 500px;
}

.boxs h2 {
color: #00A0E3;
margin-bottom: 20px;
}

.boxs ul li{
margin: 10px 0px;
list-style: none;
}

.boxs ul li a {
color: #00A0E3;
text-decoration: none;
}

.boxs ul li a:hover {
color: #E50A7F;
}

.boxs p {
color: #E50A7F;
text-align: justify;
}

.footer{
width: 100%;
height: 100px;
display: flex;
justify-content: space-between;
align-items: center;
background: white;
padding: 0px 20px;
text-align: center;
}

.footer .sociais{
display: flex;
}

.sociais .social{
width: 20px;
height: 20px;
background: white;
;
line-height: 40px;
margin: 10px;
border-radius: 5px;
cursor: pointer;
transition: color .2s linear;

}

.sociais .social a {
color:#00A0E3;
font-size: 1.5em;
}

.sociais .social:hover a{
color:#E50A7F;
}

main{
color: #00A0E3;
text-align: center;
}















@media(max-width: 850px)
{
    footer
    {
        flex-direction: column;
    }
    footer .boxs
    {
    width: 100%;
    text-align: center;
    }
    footer .boxs:nth-child(4)
    {
        width: 100%;
    }
}

















